pandas
pyarrow
openpyxl
black
yapf
isort
autopep8
fastapi
jupyterlab
jupyterlab-git
jupyterlab-code-formatter
jupyter-resource-usage
jupyter-dash
jupyterthemes
nbconvert
dash-bootstrap-components
dash-mantine-components
openai
transformers
sentencepiece
sacremoses
python-dotenv