<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PromptPl.us</title>

    <script src="{{ url_for('static', path='/aoc.js') }}"></script>

    <script src="{{ url_for('static', path='/afb.js') }}"></script>

    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css" rel="stylesheet" /> -->

    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet"> -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link href="{{ url_for('static', path='/output.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', path='/custom.css') }}" rel="stylesheet">


</head>

<body class="bg-gray-100 relative">

    <div class="colorBackground absolute"></div>
    <div class="colorBackgroundBottom absolute"></div>

    <nav class="p-4 text-white shadow-md sticky top-0 z-50 bg-gradient-to-r from-blue-500 to-red-400">
        <div class="container mx-auto grid grid-cols-3 gap-4 items-center">
            <div class="space-x-4">
                <a href="#home" class="text-white font-bold hover:text-yellow-500 transition duration-300">Home</a>
                <a href="#features"
                    class="text-white font-bold hover:text-yellow-500 transition duration-300">Features</a>
                <a href="#vision" class="text-white font-bold hover:text-yellow-500 transition duration-300">Vision</a>
                <a href="#about" class="text-white font-bold hover:text-yellow-500 transition duration-300">About</a>
            </div>
            <div class="text-center">
                <!-- <h1 class="text-2xl font-bold">Prompt<span class="gradient-text-yellow">Pl.us</span></h1>   -->
                <h1 class="text-4xl font-bold text-yellow-400">Prompt<span class="gradient-text-mixed">Pl.us</span></h1>
            </div>
            <div class="flex justify-end gap-2">
                <button type="button" class="bg-yellow-500 hover:bg-blue-500 text-white text-bold p-2 rounded">
                    Sign Up
                </button>
                <button type="button" class="bg-green-500 hover:bg-blue-500 text-white text-bold p-2 rounded">
                    Log in
                </button>
            </div>
        </div>
    </nav>

    <!-- Hero Section -->
    <section id="home" class="text-gray-800 flex items-center justify-center min-h-screen fade-in">
        <div class="container mx-auto text-left flex flex-wrap">
            <div class="w-full md:w-1/2">
                <h2 class="text-5xl font-bold mb-4"><span class="gradient-text">Your DATA. Any GPT.</span></h2>
                <p class="text-2xl mb-4">Leverage cutting-edge technologies to transform your data.<br>
                    Harness the power of GPT models and integrate them seamlessly.
                </p>
                <a href="#features"
                    class="bg-gradient-to-r from-cyan-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 text-white text-bold text-xl py-2 px-4 rounded">Explore
                    Features</a>
                <!-- <a href="#features" class="text-xl bg-white text-gray-800 py-2 px-4 rounded">Sign Up / Login</a> -->
            </div>
            <div class="w-full md:w-1/2">
                <img src="{{ url_for('static', path='/proto.png') }}" alt="PromptPl.us"
                    class="w-full h-auto rounded mb-4">
            </div>
        </div>
    </section>

    <!-- Features Section -->
    <section id="features" class="p-5">
        <div class="container mx-auto">
            <h2 class="text-4xl font-bold mb-4 text-center appear-from-bottom">Innovative Features</h2>
            <p class="mb-8 text-center appear-from-bottom">
                Our platform offers a wide range of features designed to be connected instantly on the fly.<br>
                Explore some of the key features below:</p>

            <div class="appear-from-bottom flex flex-wrap justify-between mb-8">
                <div class="w-full md:w-1/2 flex justify-end">
                    <div class="w-4/5">
                        <img src="{{ url_for('static', path='/proto.png') }}" alt="Google Drive"
                            class="w-full h-auto transform hover:scale-105 transition-all duration-300">
                    </div>
                </div>
                <div class="w-full md:w-1/2 p-8">
                    <h3 class="text-2xl font-semibold">Google Drive Integration</h3>
                    <p class="text-xl">Take your drive to GPT instantly without any setup.<br>
                        Easily access and manage your files from anywhere.<br>
                        ChatGPT & AI Assistance. Create stunning websites with a single click.</p>

                </div>
            </div>

            <!-- items-center -->
            <div class="appear-from-bottom flex flex-wrap-reverse md:flex-wrap justify-between mb-8 text-right">
                <div class="w-full md:w-1/2 p-8">
                    <h3 class="text-2xl font-semibold">One-Click Static-Site-Generation</h3>
                    <p class="text-xl">
                        Scale your business with your own social network.<br>
                        Enhance your communication with AI-powered chat assistance.<br>
                        Get real-time support and insights.
                    </p>
                </div>
                <div class="w-full md:w-1/2 flex">
                    <div class="w-4/5">
                        <img src="https://images.unsplash.com/photo-1516251193007-45ef944ab0c6" alt="ChatGPT"
                            class="w-full h-auto transform hover:scale-105 transition-all duration-300">
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- Vision Section -->
    <section id="vision"
        class="bg-gradient-to-l from-purple-400 to-blue-500 p-5 text-white flex items-center justify-center min-h-screen fade-in">
        <div class="container mx-auto flex flex-wrap-reverse justify-between appear-from-bottom">
            <div class="w-1/2">
                <img src="https://images.unsplash.com/photo-1557683316-973673baf926" alt="About Us Image"
                    class="w-full h-auto rounded mb-4">
            </div>
            <div class="w-1/2 pl-8">
                <h3 class="text-5xl font-bold mb-4">
                    Our Vision is to make AI accessible to everyone, regardless of their technical.</h3>
                <p class="text-2xl mb-4">
                    We aim to democratize access to cutting-edge technologies and drive innovation across
                    industries.
                    We envision a world where data-driven insights are accessible to everyone.
                    We believe in innovation, collaboration, and continuous improvement.
                    We provide cutting-edge solutions that empower individuals and organizations to harness the
                    potential of their data.
                    We empower individuals and businesses to leverage the power of GPT models.
                </p>
                <a href="#about" class="text-xl bg-white text-gray-800 py-2 px-4 rounded">Get in touch</a>
            </div>
        </div>
    </section>

    <section id="about" class="p-5 fade-in">
        <div class="container mx-auto text-center">
            <h2 class="text-4xl font-bold mb-4">About Us</h2>
            <p class="text-xl mb-4">
                PromptPl.us is committed to empowering businesses and individuals with cutting-edge solutions.
                We specialize in providing tailored solutions for businesses.<br>
                We are a team of passionate data scientists, engineers, and researchers who believe in the power of data
                and AI to transform businesses and lives.<br>
                Our team works closely with B2B clients to understand their unique needs and develop customized
                solutions that align with their goals.<br>
                Whether you are looking to integrate GPT models into your existing systems or seeking a bespoke
                solution, we have the expertise to deliver.
            </p>
            <div class="flex flex-wrap justify-center">
                <div class="w-full md:w-1/3 p-4">
                    <img src="https://images.unsplash.com/photo-1555949963-ff9fe0c870eb" alt="About Us"
                        class="w-full h-auto rounded mb-4">
                </div>
                <div class="w-full md:w-2/3 p-4">
                    <div class="container mx-auto">
                        <p class="text-xl font-semibold text-center">Need customization for your specific use cases.
                            Let's Talk.
                        </p>
                        <form action="/contact" method="post" class="flex flex-wrap justify-center">
                            <div class="w-full md:w-1/2 p-2">
                                <input type="text" name="name" placeholder="Your Name"
                                    class="w-full p-2 rounded border">
                            </div>
                            <div class="w-full md:w-1/2 p-2">
                                <input type="email" name="email" placeholder="Your Email"
                                    class="w-full p-2 rounded border">
                            </div>
                            <div class="w-full p-2">
                                <textarea name="message" placeholder="Your Message" rows="5"
                                    class="w-full p-2 rounded border"></textarea>
                            </div>
                            <div class="w-full p-2">
                                <button type="submit"
                                    class="w-full p-2 rounded text-white bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500">
                                    Send Message</button>
                            </div>
                        </form>
                    </div>
                    <!-- <a href="#contact" class="text-xl bg-gray-800 text-white py-2 px-4 rounded">Contact Us</a> -->
                </div>
            </div>
        </div>
    </section>

    <footer class="bg-gradient-to-r from-red-400 to-blue-500 p-5 text-white p-4 text-white">
        <div class="container mx-auto text-center">
            <p class="text-xl">© 2023 PromptPl.us | All Rights Reserved</p>
        </div>
    </footer>
</body>

</html>