<nav class="shadow-md flex justify-center">
    <!-- p-5  -->
    <!-- <div class="container mx-auto grid grid-cols-3 gap-4 items-end"> pb-5 px-5-->
    <div class="container flex flex-wrap justify-between items-center w-4/5">
        <!-- gradient-text-mixed pb-5 px-5 -->
        <div class="pb-2">
            <a href="https://promptpl.us" class="font-bold text-4xl">
                <!-- <span class="text-red-400 font-extrabold">&lt;</span> -->
                /<span class="text-yellow-400">prompt</span><span class="text-[#20B2AA]">pl.us</span>&gt;
                <!-- <span class="text-blue-500 font-extrabold">&gt;</span> -->
            </a>
        </div>

        <div class="text-right space-x-4">
            <!-- text-gray-600 -->

            <!-- rounded-lg px-2 py-1 hover:bg-gray-100 hover:text-gray-900 -->
            <!-- bg-gradient-to-r from-cyan-400 to-green-500 hover:from-pink-500 hover:to-yellow-500 -->

            <a href="#home" class="hover:bg-gray-200 rounded-lg px-3 pb-1">Home</a>

            <a href="#features" class="hover:text-yellow-400 transition duration-100">Features</a>
            <!-- <a href="#vision" class="text-gray-800  hover:text-yellow-500 transition duration-300">Vision</a> -->
            <a href="#about" class="hover:text-yellow-400 transition duration-100">About</a>

            <!-- <a href="/login">
                <img src={{ url_for('static', path='/btn_google_signin_dark_focus_web.png' ) }}>
            </a> -->

        </div>

        <!-- <div class="flex justify-end gap-2 items-end">
            <a href="/login">
                <img src={{ url_for('static', path='/btn_google_signin_dark_focus_web.png' ) }}>
            </a>
        </div> -->

    </div>
</nav>